/* delete point in UL */
.list {
    list-style: none;
}
 
 body {
  font-family: sans-serif;
  line-height: 1.5;
} 

.img{
  width: 335px;
  height: 172px;
  
  /* background: url(front-view-stunning-ginger-girl-with-bananas-studio-shot-happy-nude-woman-holding-tropical-fruits-pink-background.jpg); */
  /* border-radius: 100px; */
  
  /* Inside auto layout */
  
  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

.logotype-icon{
  /* display: flex; */
  /* justify-content: center; */

  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  
  width: 156px;
  height: 18px;
  /* margin: auto; */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo-icon {
  /* margin-right: 8px; */
  width: 16px;
  height: 16px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-text {

  width: 132px;
  height: 18px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  
  /* identical to box height, or 129% */

 
  align-items: center;
  text-align: center; 
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #AE1332;
  /* Inside auto layout */

  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

.nav {

  /* display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px; */

  /* position: absolute;
  width: 208px;
  height: 18px;
  left: 84px;
  top: 314px; */
}

/* .nav-l {
  text-decoration: none;
   font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; */
    /* identical to box height, or 129% */
/*   

    letter-spacing: -0.04em;
  
    color: #AE1332;

} */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9fd;
}

/* Навігація по сайту */
.menu {
  padding: 10px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: #fff;
  /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */

  /*  Making ul.menu a Flex container  */
  display: flex;
}

.menu .link {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #AE1332;
  background-color: #fff;
}

.menu .link:hover {
  text-decoration: underline;
}



.mobile-socials {
    padding: 10px;
      margin: 0;
      list-style: none;
      border-radius: 4px;
      background-color: #fff;
      /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
    
      /*  Making ul.menu a Flex container  */
      display: flex;
}

.kind-social-icon{}

.social-link-icon{}

.social-icon{}

/* social link */

.set-icon {
  display: flex;
  justify-content: center;
  /* gap: 24px; */
}

.kind-social-icon {
  width: 44px;
  height: 44px;
  /* border-radius: 50%;  */
}

.social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #00ff00;

  /* transition: background-color var(--transition-duration) var(--transition-timing-function); */
}

/* .social-icon {
  fill: var(--color-cloud);
} */

/* .social-link-icon:hover,
.social-link-icon:focus {
  background-color: ;
  background: rgba(174, 19, 50, 0.1);
} */


.contacts section{}

.all-contacts{}

.contacts-list{}

.contacts-item{}

.contacts-phone{
/* position: absolute; */    
  width: 143px;
  height: 18px;
  left: 116px;
  top: 460px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
/* identical to box height, or 129% */
  
  text-transform: uppercase;
  text-decoration: none;
  color: #AE1332;
}
.contacts-address{
/* position: absolute; */  
  width: 140px;
  height: 54px;
  left: calc(50% - 140px/2 + 0.5px);
  top: 492px;
    
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
      /* or 129% */
    
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.02em;
  color: #AE1332;
}

.contacts-icon{}
